<!--list.html-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품 및 주문 목록</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ nav.html::navbar}"></div>

<div th:if="${message}" th:text="${message}" style="color: green;"></div>

<form action="/search" method="POST">
    <input name="searchText" style="display: inline">
    <button>검색</button>
</form>

<h2>상품 목록</h2>
<div th:if="${items.isEmpty()}">
    <p>검색 결과가 없습니다.</p>
</div>

<div th:unless="${items.isEmpty()}">
    <ul>
        <li th:each="item : ${items}">
            <a th:href="@{/detail/{id}(id=${item.id})}">
                <span th:text="${item.title}"></span> -
                <span th:text="${item.price + '원'}"></span>
            </a>
        </li>
    </ul>
</div>

<div class="card" th:each="item : ${items}">
    <img src="https://placehold.co/300">
    <div>
        <h2 th:text="${item.id}"></h2>
        <h4 th:text="${item.title}"></h4>
        <a th:href="@{'/detail/' + ${item.id}}">링크</a>
        <p th:text="${item.price}"></p>
        <a th:href="@{'/edit/' + ${item.id}}">✏️</a>
        <span th:onclick="fetch('/item?id=[[${item.id}]]', {method : 'DELETE'})
            .then(r => r.text())
            .then(() => {
                location.reload();
            })

            ">🗑️</span>
    </div>
</div>

<h2>주문 목록</h2>
<div th:if="${salesList != null and !salesList.isEmpty()}">
    <table>
        <thead>
        <tr>
            <th>상품명</th>
            <th>가격</th>
            <th>수량</th>
            <th>주문 시간</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sale : ${salesList}">
            <td th:text="${sale.itemName}"></td>
            <td th:text="${sale.price + '원'}"></td>
            <td th:text="${sale.count}"></td>
            <td th:text="${#temporals.format(sale.created, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${salesList == null or salesList.isEmpty()}">
    <p>주문 내역이 없습니다.</p>
</div>

<button class="btn">테스트용</button>

<script>
    document.querySelectorAll('.btn')[0].addEventListener('click', function(){
        fetch('/test1', {
            method : 'POST',
            headers : { 'Content-Type' : 'application/json'},
            body : JSON.stringify({name : 'kim'})
        })
    })
</script>

</body>
</html>